/** @format */

:root {
  --primary-font: "ABeeZee", sans-serif;

  --secondary-font: "Barlow", sans-serif;

  --branding-color: rgb(66, 108, 163);
}

.App-header {
  background-color: #084808;

  min-height: 100vh;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  font-size: calc(10px + 2vmin);

  color: white;
  border: 20px solid #fff;
}

.App {
  text-align: center;
}

.github-link {
  font-size: 15px;

  font-family: var(--secondary-font);
  padding: 20px;
  margin: 0;
}

.react-form {
  padding: 60px 20px 20px 20px;
}

.react-input {
  font-size: 20px;

  font-family: var(--primary-font);
}

.search-button {
  font-size: 22px;

  font-family: var(--primary-font);

  border-radius: 5px;
}

.city-name {
  font-size: 80px;

  font-family: var(--primary-font);
}
.date-time {
  font-size: 16px;
  font-family: var(--primary-font);
}

.main-temperature {
  font-size: 50px;
  font-family: var(--primary-font);
  position: relative;
  top: -14px;
}
.big-temperature {
  font-size: 50px;
}
.temp-units {
  font-size: 24px;
  vertical-align: super;
}
.inactive {
  text-decoration: none;
  color: #fff;
}
.inactive:hover {
  text-decoration: none;
  color: #fff;
  cursor: default;
  transition: all 100ms ease-in-out;
}
.active {
  text-decoration: none;
  color: rgb(88, 152, 226);
}
.active:hover {
  color: rgb(226, 171, 88);
}

.minmax-temp {
  font-size: 18px;
  position: relative;
  top: -15px;
}
.icon {
  position: relative;
  top: 3px;
}

.description {
  font-size: 24px;
}

.humidity,
.wind {
  font-size: 14px;
  position: relative;
  top: -15px;
}

#MasterTemperature {
  position: relative;
  right: -160px;
}

.icon,
.description {
  position: relative;
  left: -130px;
}

.row {
  font-family: var(--primary-font);

  padding: 20px;
}

.WeatherForecast {
  text-align: center;
}
.WeatherForecast-temperatures {
  font-size: 20px;
}
.WeatherForecast-tempmin {
  opacity: 0.6;
  margin-left: 5px;
}

@media (max-width: 1025px) {
  .city-name,
  .main-temperature {
    font-size: 60px;
  }

  #MasterTemperature {
    position: relative;
    right: -20px;
  }

  .icon,
  .description {
    position: relative;
    left: -40px;
  }

  .minmax-temp,
  .description,
  .humidity,
  .wind {
    font-size: 12px;
  }

  .github-link {
    font-size: 10px;
  }
  .WeatherForecast-day {
    font-size: 14px;
  }

  .WeatherForecast-temperatures {
    display: none;
  }
}
