/** @format */

:root {
  --primary-font: "ABeeZee", sans-serif;

  --secondary-font: "Barlow", sans-serif;

  --branding-color: rgb(66, 108, 163);
}

html {
  background: rgb(156, 203, 255);
}

.App-header {
  background: rgb(156, 203, 255);
  background: linear-gradient(
    180deg,
    rgba(156, 203, 255, 1) 0%,
    rgba(245, 251, 255, 1) 4%,
    rgba(253, 254, 255, 1) 24%,
    rgba(255, 255, 255, 1) 69%,
    rgba(108, 176, 25, 1) 100%
  );
  min-height: 100vh;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  font-size: calc(10px + 2vmin);

  color: #3f48cc;
}

.App {
  text-align: center;
}

.first-page {
  border: 3px solid #3f48cc;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;

  padding-bottom: 40px;
  border-radius: 7px;
}

.soccergirl-front {
  margin: 0 auto;
  width: 320px;
  height: 320px;
  opacity: 0.8;
}

.soccerball1-front {
  margin: 0 auto;
  height: 60px;
  width: 60px;
  vertical-align: bottom;
  opacity: 0.8;
}

.github-link {
  font-size: 16px;

  font-family: var(--secondary-font);
  padding: 20px;
  margin: 0;
}

.react-form {
  padding: 40px 20px 20px 20px;
}

.react-input {
  font-size: 22px;

  font-family: var(--primary-font);
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
  border: 3px solid #3f48cc;
}

.search-button {
  font-size: 22px;

  font-family: var(--primary-font);

  border-radius: 5px;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4);

  background-color: #3f48cc;
  border: 1px solid #3f48cc;
  color: aliceblue;
  padding: 3px 6px;
}
.search-button:hover {
  background-color: rgb(244, 244, 119);
  border: 3px solid #3f48cc;
  color: #3f48cc;
  transition: all 200ms ease-out;
  padding: 1px 6px;
  font-weight: 700;
}

#Weather-data-border {
  border: 3px solid #3f48cc;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.city-name {
  font-size: 80px;

  font-family: var(--primary-font);
}
.date-time {
  font-size: 16px;
  font-family: var(--primary-font);
}

.main-temperature {
  font-size: 50px;
  font-family: var(--primary-font);
  position: relative;
  top: -14px;
}
.big-temperature {
  font-size: 50px;
}
.temp-units {
  font-size: 24px;
  vertical-align: super;
}
.inactive {
  text-decoration: none;
  color: #3f48cc;
}
.inactive:hover {
  text-decoration: none;
  color: #3f48cc;
  cursor: default;
  transition: all 100ms ease-in-out;
}
.active {
  text-decoration: none;
  color: #d23ad7;
}
.active:hover {
  color: rgb(235, 156, 39);
  text-decoration: underline;
}

.minmax-temp {
  font-size: 18px;
  position: relative;
  top: -15px;
}

.humidity,
.wind {
  font-size: 14px;
  position: relative;
  top: -15px;
}
.icon {
  position: relative;
  top: 3px;
}

.description {
  font-size: 24px;
}

#MasterTemperature {
  position: relative;
  right: -160px;
}

.icon,
.description {
  position: relative;
  left: -130px;
}

.row {
  font-family: var(--primary-font);

  padding: 20px;
}

.soccergirl {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.soccerball1 {
  margin: 0 auto;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
}

.WeatherForecast-border {
  border: 3px solid #3f48cc;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.WeatherForecast {
  text-align: center;
}
.WeatherForecast-temperatures {
  font-size: 20px;
}
.WeatherForecast-tempmin {
  opacity: 0.6;
  margin-left: 5px;
}

@media (max-width: 1025px) {
  .first-page {
    margin: 10px;
  }
  .react-form {
    padding: 20px;
  }

  .react-input,
  .search-button {
    font-size: 14px;
  }

  .soccergirl-front {
    width: 150px;
    height: 150px;
  }

  .soccerball1-front {
    height: 25px;
    width: 25px;
  }

  .city-name,
  .main-temperature {
    font-size: 50px;
  }

  #MasterTemperature {
    position: relative;
    right: 2px;
  }

  .icon,
  .description {
    position: relative;
    left: -10px;
  }

  .minmax-temp,
  .description,
  .humidity,
  .wind {
    font-size: 12px;
  }

  .soccergirl {
    width: 80px;
    height: 100px;
  }

  .soccerball1 {
    height: 20px;
    width: 20px;
  }

  .github-link {
    font-size: 10px;
  }
  .WeatherForecast-day {
    font-size: 14px;
  }

  .WeatherForecast-temperatures {
    display: none;
  }
}
